<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Visocon</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container-fluid">
            <h2 class="text-center">Active system components version storage and visualization</h2>
        </div>
        <div class="container-fluid text-center" style="margin-top: 5%;">
			<div class="row col-md-offset-3 col-md-3">
				<a href="/current" class="btn btn-primary">View Current</a>
			</div>
			<div class="row col-md-3" >
				<a href="/logs" class="btn btn-primary">View All</a>
			</div>
        </div>
    </body>
</html>