<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>VISOCON</title>
    <link href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    rel="stylesheet" type="text/css">
</head>

<body>
    <form action="" class="form-horizontal" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Login</legend> <!-- Text input-->

            <div class="control-group">
                <label class="control-label" for="textinput">Enter Username</label>
                <div class="controls">
                    <input class="input-xlarge" id="username" name="username"
                    placeholder="Enter Username" required="" type="text">
                </div>
            </div><!-- Password input-->

            <div class="control-group">
                <label class="control-label" for="passwordinput">Enter Password
                </label>

                <div class="controls">
                    <input class="input-xlarge" id="password" name="password"
                    placeholder="Password" required="" type="password">
                </div>
            </div><!-- Button -->

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type=
                    "submit">Signin</button>
                </div>
            </div>
        </fieldset>
    </form><!-- <script src="/static/js/moment.min.js"></script> -->
</body>
</html>